@font-face {
  font-family: "Moonet";
  src: url("./fonts/MoonetdemoRegular-6RnxY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  --text: #ddd;
  --bg: #222;

  font-family: Sarala, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  line-height: 1.3;
  color: var(--text);
  background: var(--bg);
  hyphens: auto;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

div.pop-up {
  position: absolute;
  top: 8px;
  z-index: 9999;
}

div.pop-up *:not(img.pop-up-icon) {
  display: none;
}

div.pop-up:hover *:not(img.pop-up-icon) {
  display: block;
}

div.pop-up#information {
  right: 8px;
  text-align: right;
}

div.pop-up#settings {
  left: 8px;
  text-align: left;
}

img.pop-up-icon {
  background-color: var(--text);
  border-radius: 8px;
  width: 1.2rem;
  height: 1.2rem;
  padding:4px;
  text-align: center;
}

input, label {
  display: inline;
}

label {
  font-size: 0.8rem;
}