@font-face {
  font-family: "Moonet";
  src: url("./fonts/MoonetdemoRegular-6RnxY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  --text: #ddd;
  --bg: #222;

  font-family: Sarala, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  line-height: 0.9;
  color: var(--text);
  background: var(--bg);
  hyphens: auto;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

div.pop-up {
  position: absolute;
  top:8px;
  z-index: 9999;
}

div.pop-up p {
  display: none;
}

div.pop-up:hover p {
  display:block;
}

div.pop-up#information {
  right:8px;
  text-align: right;
}

div.icon {
  border:1px solid var(--text);
  background-color: var(--bg);
  border-radius: 8px;
  width:1.1rem;
  height: 1.1rem;
  text-align: center;
}