* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    --text:#ddd;
    --bg:#222;

    font-family: "Moonet", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.45;
    color:var(--text);
    background:var(--bg);
    hyphens:auto;
}

body {
    overflow: auto;
    display: grid;

    margin: auto;
    padding:4px;
    gap:4px;

    grid-template:
        "head head head" min-content
        "info main navs" 1fr
        / 256px 1fr 256px;

    width: 100vw;
    max-width: 2048px;
    height: 100vh;
}

nav {
    grid-area: head;
    text-align: center;
}

section#navigation {
    grid-area: navs;
}

section#information {
    grid-area: info;
}

main {
    grid-area: main;
}