@font-face {
  font-family: "Moonet";
  src: url("./fonts/MoonetdemoRegular-6RnxY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarala";
  src: url("./fonts/Sarala-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  --text: #ddd;
  --bg: #222;

  font-family: Sarala, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  line-height: 0.9;
  color: var(--text);
  background: var(--bg);
  hyphens: auto;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

details {
  position: absolute;
  top:8px;
  z-index: 9999;
}

details#information {
  left:8px;
}

details#settings {
  right:8px;
}
